# Copy this file to config.yaml in the production environment
discord_token: 'REPLACE_ME'
markov_model_dir: ~/cheems_markov_models
db_dir: ./cheems_markov_models
markov_retry_limit: 5

training:
  message_limit: 100
  wait_sec: 1
  servers:
    My server name:
      channels:
        blocklist:
          - bot_testing
          - bot_testing2
    My other server name:
      channels:
        allowlist:
          - general
      users:
        blocklist:
          - BadGuy
    Banned server:
      channels:
        allowlist:
          -